body {
  background-color: black;
  color: white;
}

* {
  text-align: center;
}

img:nth-of-type(2) {
  padding-top: 20px ;
}

p {
  color: gray;
  font-family: Verdana;
  font-size: 21px;
}

.copyright {
  text-align: right;
}

h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

@media screen and (max-width: 924px) {
  img:first-of-type {
    width: 100%;
  }
}